// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
/*Display property for large screen (>= 576px)*/
/* None */
.none-l {
    display: none;
}
/* Block and inline block */
.block-l {
    display: block;
}
.inline-block-l {
    display: inline-block;
}
/* Flex and in-line flex */
.flex-l {
    display: flex;
}
.in-flex-l {
    display: inline-flex;
}
.row-l {
    display: flex;
    flex-wrap: nowrap;
}
.column-l {
    display: flex;
    flex-direction: column;
}
}