// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { 
/*Display property for small screen (>= 576px)*/
/* None */
.none-s {
    display: none;
}
/* Block and inline block */
.block-s {
    display: block;
}
.inline-block-s {
    display: inline-block;
}
/* Flex and in-line flex */
.flex-s {
    display: flex;
}
.in-flex-s {
    display: inline-flex;
}
.row-s {
    display: flex;
    flex-wrap: nowrap;
}
.column-s {
    display: flex;
    flex-direction: column;
}
.column-1-s {
    width: 8.333333333%;
}
.column-2-s {
    width: 16.666666667%;
}
.column-3-s {
    width: 25%;
}
.column-4-s {
    width: 33.333333332%;
}
.column-5-s {
    width: 41.666666665%;
}
.column-6-s {
    width: 50%;
}
.column-7-s {
    width: 58.333333331%;
}
.column-8-s {
    width: 66.666666664%;
}
.column-9-s {
    width: 74.999999997%;
}
.column-10-s {
    width: 83.33333333%;
}
.column-11-s {
    width: 91.666666663%;
}
.column-12-s {
    width: 100%;
}
/*Position property*/
.relative-s {
    
}
}