.column-1 {
    width: 8.333333333%;
}
.column-2 {
    width: 16.666666667%;
}
.column-3 {
    width: 25%;
}
.column-4 {
    width: 33.333333332%;
}
.column-5 {
    width: 41.666666665%;
}
.column-6 {
    width: 50%;
}
.column-7 {
    width: 58.333333331%;
}
.column-8 {
    width: 66.666666664%;
}
.column-9 {
    width: 74.999999997%;
}
.column-10 {
    width: 83.33333333%;
}
.column-11 {
    width: 91.666666663%;
}
.column-12 {
    width: 100%;
}